#password-container {
    margin-top: 32px;
}

#password-container.editing .info-value {
    background: white;
    border-color: var(--border);
}

.info-grid input.error {
    border-color: #c33;
}

.info-grid input.success {
    border-color: #3c3;
}
